<html>
    <head>
        <title>Movies App</title>
        <link rel="icon" href="http://icons.iconarchive.com/icons/treetog/i/256/Video-File-icon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="film icon"></i>Movie Site</div>
                <a href="/movies" class="item">Movies</a>
                <a href="/actors" class="item">Actors</a>
                <a href="/directors" class="item">Directors</a>                
                <div class="ui simple dropdown item">Add
                    <i class="dropdown icon"></i>
                    <div class="menu">
                            <a href="/movies/new" class=" item">New Movie</a>
                            <a href="/actors/newActor" class=" item">New Actor</a>
                            <a href="/directors/newDirector" class="item">New Director</a>
                    </div>
                </div> 
            </div>
       </div>

    
